<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <settings>
      <setting name="Feedback.Recipients" value="myu@sitecore.net"/>
      <setting name="Feedback.ProjectName" value="Jetstream Demo 1.5"/>
      <setting name="Feedback.Message.Subject" value="Exception on Jetstream Demo 1.5"/>
    </settings>
    
    <pipelines>
      <renderLayout>
        <processor type="Sitecore.Feedback.Module.BusinessLayer.Configuration.InjectJs, Sitecore.Feedback.Module" />
      </renderLayout>
    </pipelines>
    
  </sitecore>
</configuration>
