<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    
    <settings>
      <setting name="Feedback.Recipients.MaxCount" value="10"/>
    </settings>
 
    <pipelines>
      <renderLayout>
        <processor type="Sitecore.Feedback.Module.BusinessLayer.Configuration.InjectJs, Sitecore.Feedback.Module" />
      </renderLayout>
    </pipelines>

    <commands>
      <command name="sfm:controlpanel" type="Sitecore.Feedback.Module.BusinessLayer.Commands.ControlPanelCommand,Sitecore.Feedback.Module" />
      <command name="sfm:configuration" type="Sitecore.Feedback.Module.BusinessLayer.Commands.ConfigurationCommand,Sitecore.Feedback.Module"/>
    </commands>
    
  </sitecore>
</configuration>
