<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1'>
</head>
<body>
    <p>
        Hello, Team 
    </p>
    New feedback on  #ProjectName# from 
    <table>
        <tr>
            <td>User Email:
            </td>
            <td>#Email#
            </td>
        </tr>
        <tr>
            <td>Comment:
            </td>
            <td>#Comment#
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <td>User PC configuration
            </td>
        </tr>
        <tr>
            <td>OS: #UserOs#, Screen:#ScreenWidth#x#ScreenHeight#
            </td>
        </tr>

        <tr>
            <td>Browser Capabilities
            </td>
        </tr>
        <tr>
            <td>Browser Name: #Browser#, Version #BrowserVersion#
            </td>
        </tr>

    </table>

    <table>
        <tr>
            <td>Last user visits on #ProjectName#:  
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    #LastVisitPagesList#
                </ul>
            </td>
        </tr>
    </table>

    Error Log:
    <table>
        <tr>
            <td>Request URL:
            </td>
            <td>#ErrorLogRequestUrl#
            </td>
        </tr>
        <tr>
            <td>Message:
            </td>
            <td>#ErrorLogMessage#
            </td>
        </tr>
        <tr>
            <td>Source:
            </td>
            <td>#ErrorLogSource#
            </td>
        </tr>
        <tr>
            <td>StackTrace:
            </td>
            <td>#ErrorLogStackTrace#
            </td>
        </tr>
    </table>




</body>
</html>
