<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=iso-8859-1'>
</head>
<body bgcolor="#ececec">
    <div style="min-width: 680px; background-color:#ececec;">
        <table width="640" align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse;" bgcolor="#ececec">
            <tr>
                <td>
                    <table cellpadding="10" cellspacing="0" style="border-collapse: collapse;">
                        <tr>
                            <td colspan="2">
                                <h1 style="color: #424242;">Hello, Team </h1>
                            </td>
                        </tr>
                        <tr>
                            <td width="190" bgcolor="#ffffff" style="border-right: 10px solid #ececec;" valign="top">
                                <table width="190" cellpadding="2" cellspacing="0" style="border-collapse: collapse;">
                                    <tr>
                                        <td colspan="2" style="border-bottom: 1px dotted #cccccc;">
                                            <p style="font-size: 14px; font-weight: bold; color: #C73318;">New feedback on  #ProjectName# from</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 12px; line-height: 20px; font-weight: bold; color: #424242; border-bottom: 1px dotted #cccccc;">User Email: </td>
                                        <td style="font-size: 12px; line-height: 20px; color: #999999; border-bottom: 1px dotted #cccccc;">#Email#</td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 12px; line-height: 20px; font-weight: bold; color: #424242;">Comment: </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="font-size: 13px; color: #999999;"><em>"#Comment#"</em></td>
                                    </tr>
                                </table>
                            </td>
                            <td width="400" bgcolor="#ffffff" valign="top">
                                <table width="400" cellpadding="2" cellspacing="0" style="border-collapse: collapse;">
                                    <tr>
                                        <td colspan="2" bgcolor="#f0f0f0" style="text-transform: uppercase; font-weight: 14px; text-align: center; color: #424242;">User PC configuration</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right; color: #424242;"><b>OS:</b> </td>
                                        <td style="font-size: 13px; color: #999999;">#UserOs#</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right; color: #424242;"><b>Screen:</b> </td>
                                        <td style="font-size: 13px; color: #999999;">#ScreenWidth#x#ScreenHeight#</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" bgcolor="#f0f0f0" style="text-transform: uppercase; font-weight: 14px; text-align: center; color: #424242;">Browser Capabilities </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right; color: #424242;"><b>Name:</b> </td>
                                        <td style="font-size: 13px; color: #999999;">#Browser#</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right; color: #424242;"><b>Version:</b> </td>
                                        <td style="font-size: 13px; color: #999999;">#BrowserVersion# </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" bgcolor="#ffffff" style="border-top: 10px solid #ececec;">
                                <table width="600" cellpadding="2" cellspacing="0" style="border-collapse: collapse;">
                                    <tr>
                                        <td width="240" style="color: #424242;"><b>Last user visits on #ProjectName#:</b></td>
                                        <td>
                                            <ul style="font-size: 13px; color: #666666;">#LastVisitPagesList#</ul>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" bgcolor="#ffffff" style="border-top: 10px solid #ececec;">
                                <table cellpadding="2" cellspacing="0" style="border-collapse: collapse;">
                                    <tr>
                                        <td colspan="2" bgcolor="#f0f0f0" style="text-transform: uppercase; font-weight: 14px; color: #C73318;">Error Log</td>
                                    </tr>
                                    <tr>
                                        <td width="120" style="text-align: right; color: #424242;"><b>Request URL:</b></td>
                                        <td style="color: #ff0000;">#ErrorLogRequestUrl#</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right; color: #424242;"><b>Message:</b></td>
                                        <td style="color: #ff0000;">#ErrorLogMessage#</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right; color: #424242;"><b>Source:</b></td>
                                        <td style="color: #ff0000;">#ErrorLogSource#</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: right; color: #424242;"><b>StackTrace:</b></td>
                                        <td style="color: #ff0000;">#ErrorLogStackTrace#</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
